<div class="content-page">
	<div class="page-title">
		<h1>Edit Player</h1>
	</div>

	<form action="/players/update" method="post">
		{{> token }}
		<input type="hidden" name="id" value="{{ player._id }}" />
		<div class="field">
			<label for="psn">PSN</label>
			<input type="text" name="psn" value="{{ player.psn }}" />
		</div>
		<div class="field">
			<label for="name">Name</label>
			<input type="text" name="name" value="{{ player.name }}" />
		</div>
		<div class="field">
			<button class="button">Update Player</button>
		</div>
	</form>
</div>
