<div class="mobile-menu">
	<p>MENU</p>
	<ul>
		<li>
			<a href="/">Table</a>
		</li>
		<li>
			<a href="/fixtures">Fixtures</a>
		</li>
		<li>
			<a href="/rules">Rules</a>
		</li>
		<li>
			<a href="/season-1">Season 1</a>
		</li>

		{{#user}}

			<li>
				<a href="/results">Results</a>
			</li>
			<li>
				<a href="/players">Players</a>
			</li>
			<li>
				<a href="/users">Users</a>
			</li>
			<li>
				<form action="/users/logout" method="post">
					{{> token }}
					<button class="button">Log Out</button>
				</form>
			</li>

		{{/user}}
	</ul>
</div>
<div class="page">
	<div class="container">
		<header class="header">
			<a href="/">
				<img src="/images/logo.jpg" alt="" width="100" height="100" />
			</a>
			<h1>Dan's 1v1 League <span>Season 2</span></h1>
			<div class="menu-trigger" onclick="$('body').toggleClass('menu-open');"></div>
		</header>
