<div class="content-page">
	<div class="page-title">
		<h1>Season One Final Standings</h1>
	</div>
</div>

<div class="league-table">
	<table class="data-table" id="myTable">
		<thead>
			<tr>
				<th class="th-rank">#</th>
				<th class="th-name">Name</th>
				<td class="th-played">P</td>
				<th class="th-wins">W</th>
				<th class="th-draws">D</th>
				<th class="th-losses">L</th>
				<th class="th-points">PTS</th>
			</tr>
		</thead>
		<tbody>
			<tr class="tr-rank-1">
				<td class="td-rank">1</td>
				<td class="td-name">xlRhys-</td>
				<td class="td-played">26</td>
				<td class="td-wins">25</td>
				<td class="td-draws">0</td>
				<td class="td-losses">1</td>
				<td class="td-points">75</td>
			</tr>
			<tr class="tr-rank-2">
				<td class="td-rank">2</td>
				<td class="td-name">MBEdmonson</td>
				<td class="td-played">26</td>
				<td class="td-wins">22</td>
				<td class="td-draws">0</td>
				<td class="td-losses">4</td>
				<td class="td-points">66</td>
			</tr>
			<tr class="tr-rank-3">
				<td class="td-rank">3</td>
				<td class="td-name">LordOrchard</td>
				<td class="td-played">26</td>
				<td class="td-wins">21</td>
				<td class="td-draws">0</td>
				<td class="td-losses">5</td>
				<td class="td-points">63</td>
			</tr>
			<tr class="tr-rank-4">
				<td class="td-rank">4</td>
				<td class="td-name">Nemesis-circa89</td>
				<td class="td-played">26</td>
				<td class="td-wins">19</td>
				<td class="td-draws">2</td>
				<td class="td-losses">5</td>
				<td class="td-points">59</td>
			</tr>
			<tr class="tr-rank-5">
				<td class="td-rank">5</td>
				<td class="td-name">Gerand87</td>
				<td class="td-played">26</td>
				<td class="td-wins">16</td>
				<td class="td-draws">0</td>
				<td class="td-losses">10</td>
				<td class="td-points">48</td>
			</tr>
			<tr class="tr-rank-6">
				<td class="td-rank">6</td>
				<td class="td-name">KarlooseTheMoose</td>
				<td class="td-played">26</td>
				<td class="td-wins">11</td>
				<td class="td-draws">0</td>
				<td class="td-losses">15</td>
				<td class="td-points">33</td>
			</tr>
			<tr class="tr-rank-7">
				<td class="td-rank">7</td>
				<td class="td-name">Chasman231</td>
				<td class="td-played">26</td>
				<td class="td-wins">10</td>
				<td class="td-draws">3</td>
				<td class="td-losses">13</td>
				<td class="td-points">33</td>
			</tr>
			<tr class="tr-rank-8">
				<td class="td-rank">8</td>
				<td class="td-name">Ziptrax</td>
				<td class="td-played">26</td>
				<td class="td-wins">10</td>
				<td class="td-draws">1</td>
				<td class="td-losses">15</td>
				<td class="td-points">31</td>
			</tr>
			<tr class="tr-rank-9">
				<td class="td-rank">9</td>
				<td class="td-name">Mike_Shaw_47</td>
				<td class="td-played">26</td>
				<td class="td-wins">9</td>
				<td class="td-draws">4</td>
				<td class="td-losses">13</td>
				<td class="td-points">31</td>
			</tr>
			<tr class="tr-rank-10">
				<td class="td-rank">10</td>
				<td class="td-name">AJL101LJA</td>
				<td class="td-played">26</td>
				<td class="td-wins">8</td>
				<td class="td-draws">3</td>
				<td class="td-losses">15</td>
				<td class="td-points">27</td>
			</tr>
			<tr class="tr-rank-11">
				<td class="td-rank">11</td>
				<td class="td-name">xXLCTXx</td>
				<td class="td-played">26</td>
				<td class="td-wins">8</td>
				<td class="td-draws">1</td>
				<td class="td-losses">17</td>
				<td class="td-points">25</td>
			</tr>
			<tr class="tr-rank-12">
				<td class="td-rank">12</td>
				<td class="td-name">Chesstrophyman</td>
				<td class="td-played">26</td>
				<td class="td-wins">6</td>
				<td class="td-draws">1</td>
				<td class="td-losses">19</td>
				<td class="td-points">19</td>
			</tr>
			<tr class="tr-rank-13">
				<td class="td-rank">13</td>
				<td class="td-name">Ajamie92</td>
				<td class="td-played">26</td>
				<td class="td-wins">5</td>
				<td class="td-draws">4</td>
				<td class="td-losses">17</td>
				<td class="td-points">19</td>
			</tr>
			<tr class="tr-rank-14">
				<td class="td-rank">14</td>
				<td class="td-name">MattieC3107</td>
				<td class="td-played">26</td>
				<td class="td-wins">1</td>
				<td class="td-draws">3</td>
				<td class="td-losses">22</td>
				<td class="td-points">6</td>
			</tr>
		</tbody>
	</table>

	<script type="text/javascript">
		$(document).ready( function () {
		    $('#myTable').DataTable({
				paging: false,
				searching: false,
				info: false,
				responsive: true,
			});
		});
	</script>
</div>


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-156886218-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-156886218-1');
</script>
