<div class="content-page">
	<div class="page-title">
		<h1>The Rules</h1>
	</div>
	<h2>In short</h2>
	<p>We're playing 1v1 to see once and for all who has the biggest dick. It's a league format with everyone scheduled to play each other home and away. The schedule will be published around the 15th of October and everyone will have 2 games to complete per week until the league finishes. Winner takes nothing.</p>

	<h2>The game</h2>
	<ul>
		<li>Type: Rumble 1v1</li>
		<li>Score limit: 25</li>
		<li>Time limit: 10 minutes</li>
		<li>Map: Any</li>
		<li>Supers: Allowed</li>
		<li>Heavy: Not allowed</li>
	</ul>
	<p>What the fuck is this home and away nonsense? Easy. Home player chooses the map for "home advantage". Got a favourite or know your opponent is shit on one? Those would be good choices. The home player is on the left of the fixture list.</p>
	<p>You've banned heavy? Why you do dis? Because a block of heavy and a machine gun will get you 5 kills in the time it takes for the ammo to respawn. Not fun.</p>
	<p>But supers are OK? Yep. It's a fairly level playing field and realistically you'll only get 1 kill.</p>

	<h2>Scoring</h2>
	<ul>
		<li>Win: 3 points</li>
		<li>Draw: 1 point</li>
		<li>Loss: 0 points</li>
	</ul>
	<p>The winner sends a screenshot of the final result to LordOrchard and he will update the results table accordingly.</p>
	<p>Most points at the end of the league wins. If point scores are level then best kill differencs (kills - deaths) wins, then it's most kills. Christ knows what we'll do if we're still tied then. Probably a brawl.</p>

	<h2>Schedule</h2>
	<p><b>UPDATED 18/11/19:</b> Games will take place weekly between Destiny resets, currently Tuesdays at 5pm (GMT). You will have 2 games per week. 1 home and 1 away against different opponents. By the end of the league everyone will have played everyone twice.</p>
	<p>Attendance is key for the league to work and for everyone to have a good time. You only have to turn up for 2 games per week. That's 20 minutes. You can do it.</p>
	<p>You can view your fixtures for the entire league season as soon as they are published. Each week you and your opponent are responsible for arranging your match.</p>
	<ul>
		<li>If you can not do a particular week you forfeit the matches and your opponents get a no-score win</li>
		<li>If you do not turn up to an agreed match you forfeit the match and your opponent gets a no-score win</li>
		<li>If you both can not agree on a time that's also a no-score forfeit draw</li>
		<li>To claim a forfeit win you only have to demonstrate that you tried to, or managed to, arrange a scheduled match and your opponent didn't respond or didn't turn up</li>
	</ul>
	<p>These rules are deliberately harsh to keep the games going. We want games, not excuses.</p>

	<h2>Prizes</h2>
	<p>There are no prizes.</p>
	<ul>
		<li>1<sup>st</sup> Place - nothing</li>
		<li>2<sup>nd</sup> Place - still nothing</li>
		<li>3<sup>rd</sup> Place - fuck all</li>
	</ul>
	<p>Last place gets you a 2am, in person, double-dip teabagging experience from the one-and-only Lord 'scrote-dangler' Orchard on a night that is really inconvenient for you. If that doesn't sound like your cup of tea, don't lose. Failing that sleep with one eye open and your mouth closed.</p>

	<h2>Final Decisions</h2>
	<p>This is not a democracy. There will be no votes, referendums, discussions or sharing circles. If in doubt, the final decision always rests with the league organiser, the Right-Honourable Chief Teabagger, LordOrchard. No further questions. If that seems unfair to you, yeah. It is. Life is unfair. Fuck you.</p>
</div>
