<div class="content-page">
	<div class="page-title">
		<h1>Edit User</h1>
	</div>
	<div class="page-form">
		<form action="/users/update" method="post">
			{{> token }}
			<input type="hidden" name="id" value="{{ user._id }}" />
			<div class="field">
				<label for="username">Username</label>
				<input type="text" name="username" value="{{ user.username }}" />
			</div>
			<div class="field">
				<label for="password">Password</label>
				<input type="password" name="password" value="" />
				<p>Leave blank if you don't want to change the password.</p>
			</div>
			<div class="field">
				<button class="button">Update User</button>
			</div>
		</form>
	</div>
</div>
